# Create a .env file and add the URL endpoint for your LUIS application, for example:
ENDPOINT_URL='https://region.api.cognitive.microsoft.com/luis/v2.0/apps/made-up-code-?subscription-key=somekeyto use&staging=true&verbose=true&timezoneOffset=0&q='